* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
}

header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.15)),
        url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-size: 100%;
    animation: changeimage 20s infinite ease-in-out;
}

nav {
    width: 100%;
    height: 15vh;
    background: rgba(0, 0, 0, 0.2);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
}

nav .logo {

    width: 25%;
    text-align: center;

}

nav .menu {
    width: 40%;
    display: flex;
    justify-content: space-around;
}

nav .menu a {
    width: 25%;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav .menu a:first-child {
    color: beige;
}

main {
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

section h3 {
    font-size: 35px;
    font-weight: 200;
    letter-spacing: 3px;
    text-shadow: 1px 1px 2px black;
}

section h1 {
    margin: 30px 0 20px 0;
    font-size: 55px;
    font-weight: 700;
    text-shadow: 2px 1px 5px black;
    text-transform: uppercase;
}

section p {
    font-size: 25px;
    word-spacing: 2px;
    margin-bottom: 25px;
    text-shadow: 1px 1px 1px black;
}

section a {
    padding: 12px 30px;
    border-radius: 4px;
    outline: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
    transition: all 0.5s ease;
}

section .btnone {

    background: #fff;
    color: #000;
}

.btnone:hover {
    background: #ADA3A3;
    color: white;
}

section .btntwo {
    background: #ADA3A3;
    color: white;
}

.btntwo:hover {
    background: #fff;
    color: #000;
}

.change_content:after {
    content: "";
    animation: changetext 20s infinite ease-in-out;
    color: #ADA3A3;
}

@keyframes changetext {
    0% {
        content: "Shaniwar Wada";
    }

    20% {
        content: "Sinhagad Fort";
    }

    40% {
        content: "Dagdusheth Halwai";
    }

    60% {
        content: "Raja Dinkar Kelkar Museum";
    }

    80% {
        content: "Aga Khan Palace";
    }

    100% {
        content: "Lal Mahal";
    }
}

@keyframes changeimage {
    0% {
        background-image: url("Shaniwarwada.jpg")
    }

    20% {
        background-image: url("sinhagad.jpg")
    }

    40% {
        background-image: url("Dagdusheth.jpeg")
    }

    60% {
        background-image: url("kelkar2.jpg")
    }

    80% {
        background-image: url("agakhan.jpg")
    }

    100% {
        background-image: url("lalmahal.jpg")
    }

}
